a {
  color: #FF9D17;
}

a:hover {
  color: #FF9400;
  text-decoration: none;
}

.card {
  height: 100%;
  width: 100%;
  font-size: 1.5em;
  border-radius: 0;
  padding-top: 10vh;
  padding-bottom: 10vh;
  padding-right: 10vw;
  padding-left: 10vw;
  /* font-family: 'Heebo', sans-serif; */
  font-family: 'Domine', serif;
  border-style: none;
  overflow: hidden;
}

#intro-card {
  padding-top: 25vh;
}

#intro-card h1, h2 {
  font-family: 'Domine', serif;
  margin: 0 auto;
  text-align: left;
}

#intro-card h1 {
  margin: 0 auto;
  font-size: 18vh;
}

#intro-card h2 {
  font-size: 15vh;
}

#profile-card {
  background-color: #14D788;
  color: white;
  border-left: 1px outset black;
}

#profile-card p {
  margin: 10% auto;
  width: 80%;
  text-align: left;
}

#profile-card img {
  width: 45vh;
  height: 45vh;
  margin: 0 auto 0 auto;
  padding: 0;
}

#skills-card1, #skills-card2 {
  color: white;
  background-color: #F31655;
}

#skills-card1 h1 {
  font-size: 2em;
}

#skills-card2 h3 {
  font-size: 2em;
  text-align: center;
}

#skills-card2 {
  font-size: 1em;
}

.img-thumbnail {
  border-radius: 50%;
  border-width: 0;
  margin-top: 5%;
  margin-bottom: 5%;
  box-shadow: 0 1px 5px 2px black;
}

.skillset {
  margin: 0 auto;
  height: 100%;
}

.skillset .img-thumbnail {
  margin: 25% auto 25% auto;
}

.portfolio-card {
  background-color: black;
  text-align: center;
  padding: 0;
}

.pf-row .col-md-3 {
  padding: 0;
  margin: 0;
}

.pf-row .col-sm-12 {
  min-height: 100vh;
}

.big-row {
  min-height: 100vh;
  padding: 0;
}

.pf-item {
  height: 50%;
  margin: 0;
  padding: 0;
  background-color: #FFAE3F;
  width: 100%;
}

.pf-img {
  padding: 0;
  margin: 0;
  min-height: 100%;
  min-width: 100%;
}

.pf-item a {
  color: black;
}

.pf-item a:hover {
  color: white;
}

#contact-card {
  padding-top: 20vh;
}

@media (min-width: 992px) {
  /* rules for md and up views */
  .card {
    border-bottom: 1px outset gray;
  }

  .inner-row, .pf-row {
    /* your boat, gently down the stream... */
    height: 100%;
  }

  #skills-card2 {
    padding-left: 5px;
  }

  .portfolio-card {
    max-height: 100vh;
  }

  .portfolio-card img {
    height: 40%;
  }
}
