a {
  color: #FF9D17;
}

a:hover {
  color: #FF9400;
}

.card {
  height: 100%;
  width: 100%;
  padding: 0;
  border-radius: 0;
}

#intro-card h1, h2 {
  font-family: 'Domine', serif;
  margin: 0 auto;
  text-align: left;
}

#intro-card h1 {
  margin: 0 auto;
  font-size: 18vh;
}

#intro-card h2 {
  font-size: 15vh;
  margin-top: 20vh;
}

#profile-card {
  background-color: #14D788;
  color: white;
}

#profile-card p {
  font-family: 'Heebo', sans-serif;
  font-size: 1.5em;
  margin: 10% auto;
  width: 80%;
  text-align: left;
}

#profile-card img {
  margin: 20% auto 0 auto;
  padding: 0;
}

.img-thumbnail {
  width: 45vh;
  height: 45vh;
  border-radius: 50%;
  border-width: 0;
  box-shadow: 0 0 10px 2px black;
}

.big-row {
  min-height: 100vh;
  padding: 0;
}
